/* Navbar */


.logo h1 i  {
  background: -webkit-linear-gradient(75deg, #E83C3D, #6761CD);
  -webkit-text-fill-color: transparent;
}
.nav {
  background: black;
}

.search-box {
  display: flex;
  justify-content: center;
  margin : 30px 30px;
}

.search-input {
    width: 80;
    font-size: 16px;
    background: #fff;
    padding: 10px 10px;
    border: 1px solid #a6a6a6;
    outline: none;
  }

/* Footer */
.footer {
  background-color: black;
  color: white;
  justify-content: space-between;
  
}

.footer-content {
  display: flex;
  
}

.footer-logo {
  text-align: left;
  max-width: 50%;
}

.footer-foot {
  text-align: left;
  background-color: red;
  text-decoration: none;
}

.footer-foot ul li {
  text-decoration: none;
  background: red;
}
.footer-download {
  margin-left: 3rem;
  margin-right: 7rem;
  text-align: left;
}

.footer-download-image {
  display: flex
}

.footer-gplay {
  height: 5rem;
  width: 8rem;
}

.footer-app {
  width: 8rem;
  height: 5rem;
}

.footer-facebook {
  width: 2rem;
  height: 2rem;
}

.footer-instagram {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}

.footer-gplus {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}

.footer-copyright {
  text-align: center;
  background-color: black;
  color: white;
}
