
/* Main */
/* carousel */
* {
  font-family: 'Roboto', sans-serif;
  color: white;
}
body {
  background-color: #191919;
}
.mainCarousel .carouselItem img {
  width: 100%;
  height: 587px;
  object-fit: cover;
  object-position: center;
}
/* carousel ends */

/* tabs */
.tabs {
  margin-top: 70px;
  margin-bottom: 50px;
}
.tabs .tabsNav {
  border-bottom: 2px solid #5B4BA1;
  margin-bottom: 30px;
  position: relative;
  flex: auto;
  margin-top: 12px;
}
.tabs .tabsItem {
  margin-right: 30px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #5B4BA1;
  float: right;
}
.tabs .tabsItem .nav-link {
  color: rgb(184, 184, 184);
  border: none;
  background-color: #191919;
  font-weight: 500;
  transition: transform 0.25s;
}
.tabs .tabsItem .nav-link:hover {
  border: none;
  color: white;
}
.tabs .tabsTitle {
  font-weight: 700;
  font-size: 50px;
  color: rgb(184, 184, 184);
  background-color: #191919;
  margin-right: 40px;
}
.tabs .tabsContainer {
  display: flex;
}
.tabs .tabsTitle i {
  font-size: 40px;
  background: -webkit-linear-gradient(75deg, #F8DB7D, #E83C3D, #6761CD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tabsContent .content {
  width: 200px;
  margin: 30px 0;
  cursor: pointer;
  transition: 1s;
}
.tabsContent .content:hover {
  transform: scale(1.2);
}
.tabsContent .content img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  margin-bottom: 8px;
}
.tabsContent .content h5 {
  font-size: 15px;
  font-weight: 400;
  margin: 3px 0;
}
.tabsContent .content p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.tabsContent .content p span {
  float: right;
  color: rgb(104, 104, 104);
  font-weight: 500;
}
.tabsContent .allContainer {
  /* position: relative; */
  height: 1200px;
  padding: 0 15px;
}
.tabsContent .allContainer section {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  /* position: absolute; */
}
.tabsContent .contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* .tabsContent .pagination {
  display: flex;
  margin: 20px auto;
}
.tabsContent .pagination div {
  display: flex;
  padding: 3px 10px;
  margin: 0 8px;
  cursor: pointer;
  border: 1px solid red;
}
.tabsContent .pagination div i {
  margin: auto;
  font-size: 10px;
} */

.tabsContent .pagination {
  margin: 10px auto;
}
.tabsContent .pagination .paginationItem .page-link {
  background-color: #191919;
  color: white;
  outline: none;
  padding: 0;
  height: 40px;
  width: 35px;
}
.tabsContent .pagination .paginationItem .page-link:hover {
  font-weight: 900;
}
.tabsContent .pagination .active{
  font-weight: 900;
  border: 1px solid #0051A9;
  z-index: 10;
}
.tabsContent .allContainer .active {
  display: flex;
}
/* tabs ends */
/* Main ends */

/* Article */
/* jumbotron */
.jumbotron {
  background: url(./AssetsZuhry/images/movie.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 587px;
  position: relative;
  padding-left: 50px;
}
.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.jumbotron h1 {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 400;
  width: 500px;
  position: relative;
  z-index: 1;
}
.jumbotron div span {
  margin-right: 30px;
  position: relative;
  z-index: 1;
}
.jumbotron div span i {
  margin-right: 5px;
  font-size: 18px;
  color: #F9DD49;
}
.jumbotron p {
  width: 500px;
  font-weight: 300;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
.jumbotron button {
  margin-right: 30px;
  width: 120px;
  height: 40px;
  outline: none;
  position: relative;
  z-index: 1;
}
.jumbotron button i {
  font-size: 12px;
  margin-right: 5px;
  color: #5B4BA1;
  transition: 0.3s;
}
.jumbotron button .fa-plus {
  color: white;
}
.jumbotron .trailer {
  background-color: transparent;
  border: 2px solid #5B4BA1;
  border-radius: 7px;
  box-shadow: 0 0 5px #5B4BA1;
  color: #5B4BA1;
  font-weight: 500;
  transition: 0.5s;
}
.jumbotron .trailer:hover {
  background-color: #5B4BA1;
  color: white;
}
.jumbotron .trailer:hover i {
  color: white;
}
.jumbotron .trailer:active {
  background-color: #3e336e !important;
}
.jumbotron .watchlist {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 7px;
  box-shadow: 0 0 5px white;
  color: white;
  font-weight: 500;
  transition: 0.5s;
}
.jumbotron .watchlist:hover {
  background-color: white;
  color: gray;
}
.jumbotron .watchlist:hover i {
  color: gray;
}
.jumbotron .watchlist:active {
  background-color: rgb(211, 211, 211) !important;
}
/* jumbotron ends */

/* overview */
.tabs .tabsContent .overviewLine {
  border-bottom: 1px solid #4b4b4b;
  width: 100%;
  margin-bottom: 30px;
}
.tabs .tabsContent .overviewLine h4 {
  margin: 30px 0 -13px;
  background-color: #191919;
  width: fit-content;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #4b4b4b;
}
.tabs .tabsContent .contentContainer p {
  display: block;
  width: 100%;
  margin: 0;
  font-weight: 300;
}
/* overview ends */

/* cast */
.tabs .tabsContent .castContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.tabs .tabsContent .castContainer .cast {
  width: 120px;
  height: 230px;
  text-align: center;
  margin: 15px 19px;
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.2);
}
.tabs .tabsContent .castContainer .cast:hover {
  transform: scale(1.1);
}
.tabs .tabsContent .castContainer .cast img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}
.tabs .tabsContent .castContainer .cast h5 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 3px;
}
.tabs .tabsContent .castContainer .cast p {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  line-height: 1.2;
}
/* cast ends */

/* review */
.tabs .tabsContent .reviewContainer .review {
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2e2e2e;
}
.tabs .tabsContent .reviewContainer .review .reviewLeft img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
}
.tabs .tabsContent .reviewContainer .review .reviewRight {
  flex: auto;
}
.tabs .tabsContent .reviewContainer .review .reviewRight h4 {
  margin-bottom: 0;
}
.tabs .tabsContent .reviewContainer .review .reviewRight i {
  margin-right: 5px;
  color: #F9DD49;
}
.tabs .tabsContent .reviewContainer .review .reviewRight p {
  font-weight: 300;
  margin-top: 10px;
}
.tabs .tabsContent .reviewContainer button {
  margin: 0 auto;
  display: block;
  outline: none;
  border: none;
  background-color: #5B4BA1;
  padding: 5px 10px;
  border-radius: 8px;
}
.tabs .tabsContent .reviewContainer button:hover {
  background-color: #3e336e;
}
.tabs .tabsContent .reviewContainer .review .reviewRight textarea {
  margin-top: 15px;
  outline: none;
  width: 100%;
  background-color: #333333;
  height: 120px;
  padding: 10px;
}
.tabs .tabsContent .reviewContainer .review .reviewRight button {
  margin: 0 0 20px 0;
}
/* review ends */
/* Article ends */

/* active */
.tabsItem .active {
  color: #5B4BA1 !important;
  border: 2px solid #5B4BA1 !important;
  border-bottom: none !important;
  transform: translateY(2px);
}
/* active ends */

/* logo */
.logo h1 {
  text-align: center;
  font-size: 60px;
}
.logo h1 i  {
  background: -webkit-linear-gradient(75deg, #E83C3D, #6761CD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* logo ends */